{{ $context := .Context }}
{{ $class := .Class }}
{{ $base := site.Home.Permalink }}

<ul class="{{ $class }} inline-flex space-x-1 capitalize">
  <li>
    <a class="text-primary dark:text-darkmode-primary" href="{{ $base }}">
      {{ T "home" | default "Home" }}
    </a>
    <span class="inline-block mr-1">/</span>
  </li>

  {{ range $i, $e := $context.Ancestors.Reverse }}
    {{ if and (not .IsHome) (ne .Title "Pages") }}
      <li>
        <a class="text-primary dark:text-darkmode-primary" href="{{ .RelPermalink }}">
          {{ $title := index (last 1 (split .Title "/")) 0 }}
          {{ $label := index site.Params.taxonomy_labels $title }}
          {{ if $label }}
            {{ $label }}
          {{ else }}
            {{ T (lower $title) | default $title }}
          {{ end }}
        </a>
        <span class="inline-block mr-1">/</span>
      </li>
    {{ end }}
  {{ end }}

  <li>
    <span class="text-primary dark:text-darkmode-primary">
      {{ $title := index (last 1 (split $context.Title "/")) 0 }}
      {{ $label := index site.Params.taxonomy_labels $title }}
      {{ if $label }}
        {{ $label }}
      {{ else }}
        {{ T (lower $title) | default $title }}
      {{ end }}
    </span>
  </li>
</ul>
