{{/* layouts/partials/Categories/Newscategories.html */}}
{{ $taxonomy := site.Taxonomies.newsCategories }}
{{ if $taxonomy }}
  <ul class="text-center">
    {{ range $taxonomy.ByCount }}
      <li class="m-3 inline-block">
        <a
          href="{{ .Page.Permalink }}"
          class="bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark block rounded px-4 py-2 text-xl shadow-sm transition hover:shadow-md">
          
          {{ $cleanTitle := index (last 1 (split (string .Page.Title) "/")) 0 }}{{ title $cleanTitle }}

          <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2">
            {{ .Count }}
          </span>
        </a>
      </li>
    {{ end }}
  </ul>
{{ else }}
  <p class="text-center">No news categories found.</p>
{{ end }}
