{{ define "main" }}
  <section class="section pt-7">
    <div class="container">
      <div class="row justify-center">
        <article class="lg:col-10">
          </div>
          <h1 class="h2 mb-4">{{ .Title }}</h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
                <i class="fa-regular fa-circle-user mr-2"></i>{{ .Params.author }}
              </a>
            </li>

            {{ $categories := .Params.categories }}
            {{ if $categories }}
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-folder mr-2"></i>
                {{ range $i, $cat := $categories }}
                  <a href="{{ `categories/` | relLangURL }}{{ $cat | urlize | lower }}/">{{ $cat | humanize }}</a>{{ if ne $i (sub (len $categories) 1) }},{{ end }}
                {{ end }}
              </li>
            {{ end }}

            
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ .PublishDate | time.Format ":date_long" }}
            </li>
          </ul>

          {{ $image := .Params.Image }}
          <div class="mb-10">
            <img
              src="{{ if $image }}{{ printf "/images/news/%s" $image | relURL }}{{ else }}{{ "/images/common/placeholder.png" | relURL }}{{ end }}"
              alt="{{ .Title }}"
              class="rounded"
              style="width:50%"
            />


          <div class="content mb-10">
            {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}
            {{ .Content }}
          </div>

          <div class="row items-start justify-between">
            {{ $tags := .Params.tags }}
            {{ if $tags }}
              <div class="lg:col-6 mb-10 flex items-center lg:mb-0">
                <h5 class="mr-3">{{ T "tags" }} :</h5>
                <ul>
                  {{ range $tag := $tags }}
                    <li class="inline-block">
                      <a class="bg-light hover:bg-primary dark:bg-darkmode-light dark:hover:bg-darkmode-primary dark:hover:text-text-dark m-1 block rounded px-3 py-1 hover:text-white"
                        href="{{ `tags/` | relLangURL }}{{ $tag | urlize | lower }}/">
                        {{ $tag | humanize }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}

            <div class="lg:col-6 flex items-center lg:justify-end">
              <h5>{{ T "share" }} :</h5>
              {{ partial "social-share" (dict "Context" . "Class" "share-icons" "Title" .Title "Whatsapp" false "Telegram" false "Linkedin" false "Pinterest" false "Tumblr" false "Vk" false "Reddit" false) }}
            </div>
          </div>
        </article>
      </div>

      {{ $related := .Site.RegularPages.Related . | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
