{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      {{ if eq .Data.Plural "categories" }}
        <ul class="text-center">
          {{ range site.Taxonomies.categories.ByCount }}
            <li class="m-3 inline-block">
              <a
                href="{{ .Page.Permalink }}"
                class="bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark block rounded px-4 py-2 text-xl">
                {{ .Page.Title }}
                <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        </ul>

      {{ else if eq .Data.Plural "tags" }}
        <ul class="text-center">
          {{ range site.Taxonomies.tags.ByCount }}
            <li class="m-3 inline-block">
              <a
                href="{{ .Page.Permalink }}"
                class="bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark block rounded px-4 py-2 text-xl">
                {{ .Page.Title }}
                <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2">
                  {{ .Count }}
                </span>
              </a>
            </li>
          {{ end }}
        </ul>

      {{ else if eq .Data.Plural "blogCategories" }}
        {{ partial "Categories/Blogcategories.html" . }}

      {{ else if eq .Data.Plural "newsCategories" }}
        {{ partial "Categories/Newscategories.html" . }}

      {{ else }}
        <p>No categories or tags to display.</p>
      {{ end }}
    </div>
  </section>
{{ end }}
