{{ if isset site.Taxonomies "blogTags" }}
  {{ if not (eq (len site.Taxonomies.blogTags) 0) }}
    <div class="mb-8">
      <h5 class="mb-6">Blog Tags</h5>
      <div class="bg-light dark:bg-darkmode-light rounded p-6">
        <ul>
          {{ range $name, $items := site.Taxonomies.blogTags }}
            <li class="inline-block">
              <a
                class="hover:bg-primary dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-text-dark m-1 block rounded bg-white px-3 py-1 hover:text-white
                  {{ if (and (eq $.Page.Kind "term") (eq $.Page.Type "blogTags") (eq $.Page.Title .Page.Title)) }}
                    active
                  {{ end }}"
                href="{{ .Page.RelPermalink }}">
                {{ $cleanTitle := index (last 1 (split (string .Page.Title) "/")) 0 }}
                {{ title $cleanTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ if isset site.Taxonomies "newsTags" }}
  {{ if not (eq (len site.Taxonomies.newsTags) 0) }}
    <div class="mb-8">
      <h5 class="mb-6">News Tags</h5>
      <div class="bg-light dark:bg-darkmode-light rounded p-6">
        <ul>
          {{ range $name, $items := site.Taxonomies.newsTags }}
            <li class="inline-block">
              <a
                class="hover:bg-primary dark:bg-darkmode-body dark:hover:bg-darkmode-primary dark:hover:text-text-dark m-1 block rounded bg-white px-3 py-1 hover:text-white
                  {{ if (and (eq $.Page.Kind "term") (eq $.Page.Type "newsTags") (eq $.Page.Title .Page.Title)) }}
                    active
                  {{ end }}"
                href="{{ .Page.RelPermalink }}">
                {{ $cleanTitle := index (last 1 (split (string .Page.Title) "/")) 0 }}
                {{ title $cleanTitle }}
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  {{ end }}
{{ end }}