{{/* layouts/partials/Tags/NewsTags.html */}}
<ul class="text-center">
  {{ range site.Taxonomies.newsTags.ByCount }}
    <li class="m-3 inline-block">
      <a
        href="{{ .Page.Permalink }}"
        class="bg-light text-text-dark dark:bg-darkmode-light dark:text-darkmode-text-dark block rounded px-4 py-2 text-xl shadow-sm transition hover:shadow-md">
        
        {{/* --- THIS IS THE CORRECTED LINE --- */}}
        {{ $cleanTitle := index (last 1 (split (string .Page.Title) "/")) 0 }}{{ title $cleanTitle }}
        
        <span class="bg-body dark:bg-darkmode-body ml-2 rounded px-2">
          {{ .Count }}
        </span>
      </a>
    </li>
  {{ end }}
</ul>
