{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section class="section pt-14">
      <!-- Background-only section -->
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Home Made Partial -->
  {{ partial "home/home_made.html" . }}

  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section class="section-sm {{ if (modBool $i 2) }}bg-gradient{{ end }}">
      <!-- Background-only section -->
    </section>
  {{ end }}
  <!-- /Features -->

  <!-- Testimonials -->
  {{ with site.GetPage "sections/testimonial" }}
    {{ if .Params.enable }}
      <section class="section">
        <!-- Background-only section -->
      </section>
    {{ end }}
  {{ end }}
  <!-- /Testimonials -->
{{ end }}
